
::-ms-clear {
      display: none;
  }

/* Generic pane rules */
.rowstyles, .colstyles { overflow: hidden; position: absolute; }
.rowstyles { left: 0; right: 0; }
.colstyles { top: 0; bottom: 0; }
.scroll-x { overflow-x: auto; }
.scroll-y { overflow-y: auto; }

.headerstyles.rowstyles { height: 40px; top: 0; }
.body.rowstyles { top: 40px; bottom: 40px; }
.footerstyles.rowstyles { height: 40px; bottom: 0; }

/*
 * Contact Page
 */

.portal-contact-page{
	margin-left: auto; 
	margin-right: auto; 
	margin-top: 20px; 
	width: 1200px;
	margin-bottom: 20px;
}

/*
 * Portal Footer
 */

.portal-footer-content{
	background-color: #DBDBDB;
}

.portal-footer-info{
	width: 145px; 
	margin-top: 10px; 
	margin-left: auto; 
	margin-right: auto;
}

.bs-docs-sidenav > li > a:hover {
	background-color: whiteSmoke;
}

.nav > li > a:hover {
	text-decoration: none;
	background-color: #EEE;
}

.bs-docs-sidenav > li > a {
	display: block;
	width: 190px 9;
	margin: 0 0 -1px;
	padding: 8px 14px;
	border: 1px solid #E5E5E5;
}

.bs-docs-sidenav .icon-chevron-right {
	float: right;
	margin-top: 2px;
	margin-right: -6px;
}

.bs-docs-sidenav > li:first-child > a {
	-webkit-border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
}

.bs-docs-sidenav > li:last-child > a {
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
	border:  1px solid #E5E5E5;
	margin-bottom:1px;
}

.green {
	background-color: green;
	color: white;
}
