
::-ms-clear {
      display: none;
  }

/* Generic pane rules */
.rowstyles, .colstyles { overflow: hidden; position: absolute; }
.rowstyles { left: 0; right: 0; }
.colstyles { top: 0; bottom: 0; }
.scroll-x { overflow-x: auto; }
.scroll-y { overflow-y: auto; }

.headerstyles.rowstyles { height: 40px; top: 0; }
.body.rowstyles { top: 40px; bottom: 40px; }
.footerstyles.rowstyles { height: 40px; bottom: 0; }

/*
 * Contact Page
 */

.portal-contact-page{
	margin-left: auto; 
	margin-right: auto; 
	margin-top: 20px; 
	width: 1200px;
	margin-bottom: 20px;
}

/*
 * Portal Footer
 */

.portal-footer-content{
	background-color: #DBDBDB;
}

.portal-footer-info{
	width: 145px; 
	margin-top: 10px; 
	margin-left: auto; 
	margin-right: auto;
}
