<div style="width:1200px; margin: auto;">
	<div >
		<div class="bs-docs-sidebar">
			<ul class="nav nav-list bs-docs-sidenav">
			</ul>
		</div>
		<div>
			<section id="basic" ng-controller="BasicExampleCtrl" style="height: 500px;">
				<div ng-include src="'partials/exampleDefinitions/basic/basicExample.html'"></div>
			</section>
			<section id="columnDefs" ng-controller="ColumnDefsExampleCtrl" style="height: 550px;">
				<div ng-include src="'partials/exampleDefinitions/columnDefs/columnDefsExample.html'"></div>
			</section>
			<section id="grouping" style="height: 1100px;">
				<div ng-include src="'partials/exampleDefinitions/grouping/groupingExample.html'"></div>
			</section>
			<section id="templates" style="height: 1600px;">
				<div ng-include src="'partials/exampleDefinitions/templates/templatesExample.html'"></div>
			</section>
			<section id="themes" ng-controller="ThemesExampleCtrl" style="height: 550px;">
				<div ng-include src="'partials/exampleDefinitions/themes/themesExample.html'"></div>
			</section>
			<section id="paging" ng-controller="PagingExampleCtrl" style="height: 550px;">
				<div ng-include src="'partials/exampleDefinitions/paging/pagingExample.html'"></div>
			</section>
			<section id="masterdetail" ng-controller="MasterDetailExampleCtrl" style="height: 550px;">
				<div ng-include src="'partials/exampleDefinitions/masterDetail/masterDetailsExample.html'"></div>
			</section>
			<section id="cellSelection" style="height: 1100px;">
				<div ng-include src="'partials/exampleDefinitions/cellSelection/cellSelectionExample.html'"></div>
			</section>
		</div>
	</div>
</div>