.ng-scope {
	margin: 0;
	padding: 0;
}

/******** Grid Global ********/
.nglabel {
    display: block;
    float: left;
    font-weight: bold;
    padding-right: 5px;
}
/******** Grid ********/

.ngGrid{
    background-color: rgb(253, 253, 253);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/******** Header ********/

.ngGroupPanel{
    background-color: rgb(234, 234, 234);
    overflow: hidden;
	border-bottom: 1px solid rgb(212,212,212);
}

.ngGroupList {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.ngGroupItem {
	float: left; 
}

.ngGroupElement {
	height: 100%; 
	width: 100%;
}	

.ngGroupName{
	background-color: rgb(247,247,247);
	border: 1px solid rgb(212,212,212);
	padding: 3px 10px;
	float: left;
	margin-left: 0px;
	margin-top: 2px;
	border-radius: 3px;
	font-weight:bold;
}

.ngGroupItem:first-child{
	margin-left: 2px;
}

.ngGroupArrow {
	width: 0; 
	height: 0; 
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 6px solid black;
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
	float: right;
}

.ngTopPanel {
    background-color: rgb(234, 234, 234);
    overflow: hidden;
	border-bottom: 1px solid rgb(212,212,212);
}
.ngHeaderContainer {
    position: relative;
    overflow: hidden;
    font-weight: bold;
}

.ngHeaderScroller {
	position:absolute;
}
.ngHeaderSortColumn{
	cursor: pointer;
    overflow: hidden;
}

.ngHeaderCell {
    position: absolute;
    padding: 0 0 0 0;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ngHeaderText {
	margin-left: 5px;
}

div.ngHeaderCell{
	border-left: 1px solid rgb(212,212,212);
	border-right: 1px solid rgb(212,212,212);
}

div.ngHeaderCell:first-child{
	border-left: 0px;
}

div.ngHeaderCell:last-child{
	border-right: 1px solid rgb(212,212,212);
}


/******** Viewport ********/
.ngViewport{
    background-color: rgb(255, 255, 255);
	overflow: auto;
}

.ngCanvas{
    position: relative;
}

/******** Rows ********/
.ngRow {
    position: absolute;
    border-bottom: 1px solid rgb(229, 229, 229);
    cursor: pointer;
}
.ngRow.even {
    background-color: rgb(243, 243, 243);
}
.ngRow.odd {
    background-color: rgb(253, 253, 253);
}
.ngRow.selected {
    background-color: rgb(255, 255, 204);
}
.ngRow.canSelect {
    cursor: pointer;
}

/******** Cells ********/
.ngCell {
    overflow: hidden; 
    position: absolute;
    padding: 0;
    display: inline;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.ngRowIndexCell{ 
    text-align: center;
}

.ngSelectionHeader {
	position: absolute;
    top: 11px; 
    left: 6px;
}

input[type="checkbox"] {
	margin: 0;
	padding: 0;
}

input {
	vertical-align:top;
}

.ngSelectionCell{
	margin-top: 9px;
	margin-left: 6px;
}

.ngCellText {
	position: absolute;
	top: 5px;
	left: 4px;
}

/******** Header Sorting ********/
.ngSortImg{
    height: 9px;
    width: 7px;
}

.ngNoSort {
    cursor:default;
}

/******** Footer ********/
.ngFooterPanel{
    background-color: rgb(234, 234, 234);
    padding: 0;
	border-top: 1px solid rgb(212,212,212);
	position: relative;
}
.ngTotalSelectContainer {
    float: left;
    margin: 5px;
    margin-top: 7px;
}
.ngFooterSelectedItems {
	padding: 2px;
}
.ngFooterTotalItems {
	padding: 2px;
}
.ngFooterTotalItems.ngnoMultiSelect {
    padding: 0px !important;
}

.ngHeaderDisplayNameContainer{
}

.ngHeaderDisplayName{
    
}
.ngSortButtonUp {
    position: absolute;
    top: 3px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
	border-color: gray transparent;
	border-style: solid;
	border-width: 0px 5px 5px 5px;
	height: 0px;
	width: 0px;
}
.ngSortButtonDown {
    position: absolute;
    top: 3px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
	border-color: gray transparent;
	border-style: solid;
	border-width: 5px 5px 0px 5px;
    height: 0px;
	width: 0px;
}
.ngHeaderGrip { 
    cursor: col-resize; 
    width: 5px; 
	right: -1px;
	margin-right: -2px;
	margin-left: 3px;
    top: 0; 
    height: 100%; 
    position: absolute; 
    z-index: 1000; 
}
.ngHeaderGrip:hover { 
	background-color:darkgray;
    cursor: col-resize; 
    width: 5px; 
    right: -1px;
    margin-right: -2px;
    margin-left: 3px;
    top: 0; 
    height: 100%; 
    position: absolute; 
    z-index: 1000; 
}

.ngNoSelect{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ngAggregate {
    position: absolute;
    background-color: rgb(95,168,184);
    top: 1;
    bottom: 1px;
    right: 0;
    padding-top: 3px;
}

.ngAggregateText {
    position: absolute;
    left: 27px;
}

.ngAggArrowExpanded {
    position: absolute;
    left: 8px;
    bottom: 10px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 0 9px 9px;
    border-color: transparent transparent #000000 transparent;
}

.ngAggArrowCollapsed {
    position: absolute;
    left: 8px;
    bottom: 10px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 5px 0 5px 8.7px;
    border-color: transparent transparent transparent #000000;
}