<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link rel="stylesheet" href="/docs/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/docs/css/bootstrap-flatly.css" />
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/css/site.css" />
</head>
<body>
  <header class="header">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a href="/" class="brand">UI Grid</a>
          <p class="navbar-text pull-right">
            <iframe class="nav-ghbtn" src="http://ghbtns.com/github-btn.html?user=angular-ui&repo=ng-grid&type=watch&count=true"
                  allowtransparency="true" frameborder="0" scrolling="0" width="80" height="50"></iframe>
            <iframe class="nav-ghbtn" src="http://ghbtns.com/github-btn.html?user=angular-ui&repo=ng-grid&type=fork&count=true"
                  allowtransparency="true" frameborder="0" scrolling="0" width="80" height="50"></iframe>
          </p>
        </div>
      </div>
    </div>
  </header>
  <div class="jumbotron">
    <div class="container text-center">
      <h2>Angular UI Grid</h2>

      <p>A data grid for <strong><a href="http://angularjs.org">AngularJS</a></strong></p>
      <p>... more stuff ...</p>

      <br>

      <p class="btn-group2">
        <a class="btn btn-success btn-large" href="https://github.com/angular-ui/ng-grid" title="Code on Github">
          <i class="fa fa-github fa-fw"></i>
          Code on Github
        </a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="btn btn-danger btn-large" href="https://github.com/angular-ui/ui-grid.info/tree/gh-pages" title="Download <%= version %>">
          <i class="fa fa-download fa-fw"></i>
          Download <!-- <small>(<%= pkg.version %>)</small> -->
        </a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="btn btn-success btn-large" href="http://<%= site %>/docs" title="API Documentation">
          <i class="fa fa-gears fa-fw"></i>
          API Documentation
        </a>
      </p>
    </div>
  </div>
</body>
</html>