<div ng-show="showColumnMenu || showFilter"  class="ngHeaderButton" ng-click="toggleShowMenu()">
    <div class="ngHeaderButtonArrow"></div>
</div>
<div ng-show="showMenu" class="ngColMenu">
    <div ng-show="showFilter">
        <input placeholder="{{i18n.ngSearchPlaceHolder}}" type="text" ng-model="filterText"/>
    </div>
    <div ng-show="showColumnMenu">
        <span class="ngMenuText">{{i18n.ngMenuText}}</span>
        <ul class="ngColList">
            <li class="ngColListItem" ng-repeat="col in columns | ngColumns">
                <label><input ng-disabled="col.pinned" type="checkbox" class="ngColListCheckbox" ng-model="col.visible"/>{{col.displayName}}</label>
				<a title="Group By" ng-class="col.groupedByClass()" ng-show="col.groupable && col.visible" ng-click="groupBy(col)"></a>
				<span class="ngGroupingNumber" ng-show="col.groupIndex > 0">{{col.groupIndex}}</span>          
            </li>
        </ul>
    </div>
</div>