.ui-grid-top-panel {
    position: relative;
    // z-index: 1;
    // background-color: @darkGray; // #EAEAEA
    border-bottom: 1px solid @borderColor; // #D4D4D4

    overflow: hidden;
    font-weight: bold;

    .gradient(#f3f3f3, #eee, #fff);
}

.ui-grid-header-cell {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: inherit;
}