@rowColorEven: @middleGray;
@rowColorOdd: @lightGray;

.ngRow {
  position: absolute;
  border-bottom: 1px solid @borderColor;
}

.ngRow.odd {
  background-color: @rowColorOdd; //rgb(253, 253, 253);
}

.ngRow.even {
  background-color: @rowColorEven;
}

.ngRow.selected {
  background-color: @grayBlue; //rgb(201, 221, 225);
}