
.ui-grid-scrollbar {
  top: 0;
  z-index: 10;
  position: absolute;

  background: rgba(0, 0, 0, 0.5);

  opacity: 1;
  cursor: pointer;
  // transform: translateZ(0);

  .rounded(7px);
  .box-shadow(0 0 1px #fff);
  // .transition(300ms, linear);

  &-vertical {
    width: 7px;
    margin-top: 4px;
    margin-bottom: 4px;
    right: 4px;
  }
}