.ui-grid-scrollbar {
  z-index: 10;
  position: absolute;
  .opacity(0);
  .transition(opacity, 0.25s, ease-out);

  background: @scrollbarBackground;

  cursor: pointer;
  // transform: translateZ(0);

  border: @scrollbarBorder;
  .rounded(@scrollbarBorderRadius);
  .box-shadow(@scrollbarShadow);
  // .transition(all, 300ms, linear);

  &-vertical {
    width: @scrollbarWidth;
    margin-top: 4px;
    margin-bottom: 4px;
    right: 4px;
    top: 0
    // right: @scrollbarWidth;
    // .transition();
  }

  &-horizontal {
    height: @scrollbarWidth;
    margin-right: 4px;
    margin-left: 4px;
    bottom: 4px;
    left: 0px;
    width: 45px;
  }

  &-visible {
    .opacity(1);
    // -webkit-transition: opacity 0.5s ease-out;
    // -moz-transition: opacity 0.5s ease-out;
    // -o-transition: opacity 0.5s ease-out;
    // transition: opacity 0.5s ease-out;
  }

  // &-vertical.in {
  //   .transition(all);
  //   right: 4px;
  // }
}

.ui-grid-scrollbar:hover {
  background: @scrollbarBackgroundHover;
}

.ui-grid-scrollbar.ui-grid-scrolling {
  display: block;
  background: @scrollbarBackgroundScrolling;
  border: @scrollbarBorderScrolling;
}