<pre style="background-color: white; height: 325px; border-radius: 0 0 4px 4px; border-top:0px; white-space: pre; word-wrap: normal; overflow: auto" class="prettyprint">
var app = angular.module('myApp', ['ngGrid']);
app.controller('MyCtrl', function($scope) {
    $scope.myData = [{name: "Moroni", age: 50},
                    {name: "Tiancum", age: 43},
                    {name: "Jacob", age: 27},
                    {name: "Nephi", age: 29},
                    {name: "Enos", age: 34}];
    $scope.gridOptions = { 
        data: 'myData',
		rowTemplate:'&lt;div style="height: 100%" ng-class="{green: row.getProperty(\'age\') < 30}"&gt;&lt;div ng-style="{ \'cursor\': row.cursor }" ng-repeat="col in renderedColumns" ng-class="col.colIndex()" class="ngCell {{col.cellClass}}"&gt;' +
                           '&lt;div class="ngVerticalBar" ng-style="{height: rowHeight}" ng-class="{ ngVerticalBarVisible: !$last }"&gt;&nbsp;&lt;/div&gt;' +
                           '&lt;div ng-cell&gt;&lt;/div&gt;' +
                     '&lt;/div&gt;&lt;/div&gt;'
    };
});
</pre>