<div class="ui-grid-row-header-cell ui-grid-expandable-buttons-cell">
  <div class="ui-grid-cell-contents">
    <span class="ui-grid-cell-empty" ng-if="!grid.options.showExpandAllButton"></span>
    <button type="button" class="ui-grid-icon-button clickable"
      ng-if="grid.options.showExpandAllButton"
      ng-class="{ 'ui-grid-icon-plus-squared' : !grid.expandable.expandedAll, 'ui-grid-icon-minus-squared' : grid.expandable.expandedAll }"
      ng-click="grid.api.expandable.toggleAllRows()">
    </button>
  </div>
</div>
