@import '../../../less/variables';

.expandableRow {
  .ui-grid-row {

    &:nth-child(odd) .ui-grid-cell {
      background-color: @rowColorOdd;
    }

    &:nth-child(even) .ui-grid-cell {
      background-color: @rowColorEven;
    }

  }


}

.scrollFiller {
  float:left;
  border:1px solid @borderColor;
}

.ui-grid-expandable-buttons-cell { }
