@import '../../../less/variables';

.ui-grid-column-filter-button {
  width: 1em;
  height: 1.4em;
}

#uiGridFilterPopup{
  min-height: 150px;
  min-width: 150px;
  max-width: 200px;
  position: absolute;
  border-radius: 25px;
  background-color: white;
  padding: 1.25em;
  border: 1px solid rgba(0,0,0,0.2);
}
