@import "../../../less/variables";
@import "../../../less/elements";

.ui-grid-pager-panel {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
}

.ui-grid-pager-container {
  float: left;
}

.ui-grid-pager-control {
  margin-right: 10px;
  margin-left: 10px;
  min-width: 135px;
  float: left;

  button {
    height: 25px;
    min-width: 26px;
    .gradient(@headerBackgroundColor, @headerGradientStart, @headerGradientStop);
    border: 1px groove @headerGradientStop;
    border-radius: 4px;

    &:focus {
      color: #333;
      background-color: #e6e6e6;
      border-color: #8c8c8c;
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px;
    }
  }

  input {
    height: 26px;
    width: 50px;
    vertical-align: top;
  }

  .first-bar {
    width: 10px;
    border-left: 2px solid #4d4d4d;
    margin-top: -6px;
    height: 12px;
    margin-left: -3px;
  }

  .first-triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 8.7px 5px 0;
    border-color: transparent #4d4d4d transparent transparent;
    margin-left: 2px;
  }

  .next-triangle {
    margin-left: 1px;
  }

  .prev-triangle {
    margin-left: 0;
  }

  .last-triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 8.7px;
    border-color: transparent transparent transparent #4d4d4d;
    margin-left: -1px;
  }

  .last-bar {
    width: 10px;
    border-left: 2px solid #4d4d4d;
    margin-top: -6px;
    height: 12px;
    margin-left: 1px;
  }
}

.ui-grid-pager-row-count-picker {
  float: left;

  select {
    height: 26px;
    width: 60px;
    /* Taken from the bootstrap3 form-control */
    display: inline;
    padding: 6px 12px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

    &:focus {
      border-color: #66afe9;
      outline: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    }
  }

  .ui-grid-pager-row-count-label {
    margin-top: 3px;
  }
}

.ui-grid-pager-count-container {
  float: right;
  margin-top: 4px;
  min-width: 50px;

  .ui-grid-pager-count {
    margin-right: 10px;
    margin-left: 10px;
    float: right;
  }
}
