<!-- <div class="ui-grid ui-grid-viewport">

  <div ui-grid-header ui-grid-table-class="tableClass"></div>

  <div ui-grid-body ui-grid-table-class="tableClass"></div>
  
</div> -->

<div class="ui-grid grid{{ gridId }}">
  <!-- TODO (c0bra): add "scoped" attr here, eventually? -->
  <style ui-grid-style>
    .grid{{ gridId }} {
      /* Styles for the grid */
    }

    .grid{{ gridId }} .ui-grid-header {
      height: {{ options.headerRowHeight }}px;
    }

    .grid{{ gridId }} .ui-grid-row, .grid{{ gridId }} .ui-grid-cell {
      height: {{ options.rowHeight }}px;
    }

    {{ columnStyles }}
  </style>

  <div ui-grid-header></div>

  <div ui-grid-body></div>

  <div ui-grid-footer></div>
</div>