<div class="ui-grid grid{{ grid.id }}">
  <!-- TODO (c0bra): add "scoped" attr here, eventually? -->
  <style ui-grid-style>
    .grid{{ grid.id }} {
      /* Styles for the grid */
    }

    .grid{{ grid.id }} .ui-grid-header {
      width: {{ grid.getViewportWidth() }}px;
    }

    .grid{{ grid.id }} .ui-grid-header-canvas {
      width: {{ grid.getCanvasWidth() }}px;
    }

    .grid{{ grid.id }} .ui-grid-viewport {
      height: {{ grid.getViewportHeight() }}px;
      width: {{ grid.getViewportWidth() }}px;
    }

    .grid{{ grid.id }} .ui-grid-canvas {
      height: {{ grid.getCanvasHeight() }}px;
      width: {{ grid.getCanvasWidth() }}px;
    }

    .grid{{ grid.id }} .ui-grid-row, .grid{{ grid.id }} .ui-grid-cell, .grid{{ grid.id }} .ui-grid-cell .ui-grid-vertical-bar {
      height: {{ grid.options.rowHeight }}px;
    }

    .grid{{ grid.id }} .ui-grid-row:last-child .ui-grid-cell {
      border-bottom-width: {{ ((grid.getTotalRowHeight() < grid.getViewportHeight()) && '1') || '0' }}px;
    }

    {{ rowStyles }}

    {{ columnStyles }}

    /*.grid{{ grid.id }} .ui-grid-body .ui-grid-cell:first-child, .grid{{ grid.id }} .ui-grid-header .ui-grid-header-cell:first-child {
      margin-left: {{ grid.columnOffset || 0 }}px;
    }*/

    {{ grid.verticalScrollbarStyles }}
    {{ grid.horizontalScrollbarStyles }}
  </style>

  <div ui-grid-header></div>

  <div ui-grid-body></div>

  <div ui-grid-footer></div>
</div>