<div class="ui-grid-body">
  <div class="ui-grid-scrollbar-box">
    <div ui-grid-viewport class="ui-grid-viewport">
      <div class="ui-grid-canvas">
        <div ng-repeat="row in grid.renderedRows track by $index" class="ui-grid-row" ng-style="rowStyle($index)">
          <div ui-grid-row="row" row-index="row.index"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- native scrolling -->
  <div ui-grid-native-scrollbar ng-if="!grid.options.enableVirtualScrolling && grid.options.enableNativeScrolling" type="vertical"></div>
  <div ui-grid-native-scrollbar ng-if="!grid.options.enableVirtualScrolling && grid.options.enableNativeScrolling" type="horizontal"></div>

  <!-- virtual scrolling -->
  <div ui-grid-scrollbar ng-if="grid.options.enableVirtualScrolling" type="vertical" scrolling-class="ui-grid-scrolling"></div>
  <div ui-grid-scrollbar ng-if="grid.options.enableVirtualScrolling" type="horizontal" scrolling-class="ui-grid-scrolling"></div>

  <div ng-transclude></div>
</div>