<div class="ui-grid grid{{ gridId }}">
  <!-- TODO (c0bra): add "scoped" attr here, eventually? -->
  <style ui-grid-style>
    .grid{{ gridId }} {
      /* Styles for the grid */
    }

    .grid{{ gridId }} .ui-grid-canvas {
      height: {{ options.rowHeight * visibleRowCount }}px;
    }

    .grid{{ gridId }} .ui-grid-header, .grid{{ gridId }} .ui-grid-header-cell .ui-grid-vertical-bar {
      height: {{ options.headerRowHeight }}px;
    }

    .grid{{ gridId }} .ui-grid-row, .grid{{ gridId }} .ui-grid-cell, .grid{{ gridId }} .ui-grid-cell .ui-grid-vertical-bar {
      height: {{ options.rowHeight }}px;
    }

    {{ rowStyles }}

    {{ columnStyles }}
  </style>

  <div ui-grid-header></div>

  <div ui-grid-body></div>

  <div ui-grid-footer></div>
</div>