<div
  class="ui-grid-footer-panel ui-grid-footer-aggregates-row"> <!-- tfooter -->
  <div
    class="ui-grid-footer ui-grid-footer-viewport">
    <div
      class="ui-grid-footer-canvas">
      <div
        class="ui-grid-footer-cell-wrapper"
        ng-style="colContainer.headerCellWrapperStyle()">
        <div
          role="row"
          class="ui-grid-footer-cell-row">
          <div
            ui-grid-footer-cell
            role="gridcell"
            ng-repeat="col in colContainer.renderedColumns track by col.uid"
            col="col"
            render-index="$index"
            class="ui-grid-footer-cell ui-grid-clearfix">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
