<!-- simplified version of default ui-grid template -->
<!-- removes dropdown selects and adds ng-change to filter input to emit the filtered column -->
<div
  class="ui-grid-filter-container"
  ng-style="col.extraStyle"
  ng-repeat="colFilter in col.filters"
  ng-class="{'ui-grid-filter-cancel-button-hidden' : colFilter.disableCancelFilterButton === true }">
  <div
    ng-if="colFilter.type !== 'select'">
    <input
      type="text"
      class="ui-grid-filter-input ui-grid-filter-input-{{$index}}"
      ng-model="colFilter.term"
      ng-change="initFilter(col)"
      ng-attr-placeholder="{{colFilter.placeholder || ''}}"
      aria-label="{{colFilter.ariaLabel || aria.defaultFilterLabel}}" />
  </div>
</div>
