<div class="ui-grid-header">
  <div class="ui-grid-top-panel">
    <div ui-grid-group-panel ng-show="grid.options.showGroupPanel"></div>
    <div class="ui-grid-header-viewport">
      <div class="ui-grid-header-canvas">
          <div class="ui-grid-header-cell clearfix" ng-repeat="col in colContainer.renderedColumns track by col.colDef.name" ui-grid-header-cell col="col" render-index="$index" ng-style="$index === 0 && colContainer.columnStyle($index)">
          </div>
      </div>
    </div>
    <div ui-grid-menu></div>
  </div>
</div>