<div
  class="ui-grid-menu"
  ng-show="shown">
  <style ui-grid-style>
    {{dynamicStyles}}
  </style>
  <div
    class="ui-grid-menu-mid"
    ng-show="shownMid">
    <div
    class="ui-grid-menu-inner"
    ng-if="shown">
      <ul
        role="menu"
        class="ui-grid-menu-items">
        <li
          ng-repeat="item in menuItems"
          role="menuitem"
          ui-grid-menu-item
          ui-grid-one-bind-id="'menuitem-'+$index"
          action="item.action"
          name="item.title"
          active="item.active"
          icon="item.icon"
          shown="item.shown"
          context="item.context"
          template-url="item.templateUrl"
          leave-open="item.leaveOpen"
          screen-reader-only="item.screenReaderOnly">
        </li>
      </ul>
    </div>
  </div>
</div>
