<div
  role="grid"
  ui-grid-one-bind-id-grid="'grid-container'"
  class="ui-grid-render-container"
  ng-style="{ 'margin-left': colContainer.getMargin('left') + 'px', 'margin-right': colContainer.getMargin('right') + 'px' }">
  <!-- All of these dom elements are replaced in place -->
  <div ui-grid-header></div>
  <div ui-grid-viewport></div>
  <div
    ng-if="colContainer.needsHScrollbarPlaceholder()"
    class="ui-grid-scrollbar-placeholder"
    ng-style="{height:colContainer.grid.scrollbarHeight + 'px'}">
  </div>
  <ui-grid-footer
    ng-if="grid.options.showColumnFooter">
  </ui-grid-footer>
</div>
