<div class="ui-grid-render-container">
  <div ui-grid-header></div>

  <div ui-grid-viewport></div>
  <!-- <div ui-grid-render-canvas class="ui-grid-canvas">
      <div ng-repeat="row in container.visibleRowCache track by $index" class="ui-grid-row">
        <div ui-grid-row="row" row-index="row.index" render-container="container"></div>
      </div>
    </div> -->

  <!-- native scrolling -->
  <div ui-grid-native-scrollbar ng-if="!grid.options.enableVirtualScrolling && grid.options.enableNativeScrolling && enableScrollbars" type="vertical"></div>
  <div ui-grid-native-scrollbar ng-if="!grid.options.enableVirtualScrolling && grid.options.enableNativeScrolling && enableScrollbars" type="horizontal"></div>
</div>