<div
  role="presentation"
  ui-grid-one-bind-id-grid="RenderContainer.gridContainerId"
  class="ui-grid-render-container"
  ng-style="{ 'margin-left': RenderContainer.colContainer.getMargin('left') + 'px', 'margin-right': RenderContainer.colContainer.getMargin('right') + 'px' }">
  <!-- All of these dom elements are replaced in place -->
  <div ui-grid-header></div>
  <div ui-grid-viewport></div>
  <div
    ng-if="RenderContainer.colContainer.needsHScrollbarPlaceholder()"
    class="ui-grid-scrollbar-placeholder"
    ng-style="{height: RenderContainer.colContainer.grid.scrollbarHeight + 'px'}">
  </div>
  <ui-grid-footer
    ng-if="RenderContainer.grid.options.showColumnFooter">
  </ui-grid-footer>
</div>
