<div class="ui-grid-menu" ng-if="shown">
  <div class="ui-grid-menu-mid" ng-show="shownMid">
    <div class="ui-grid-menu-inner">
      <ul class="ui-grid-menu-items">
        <li
          ng-repeat="item in menuItems"
          ui-grid-menu-item 
          action="item.action"
          name="item.title"
          active="item.active"
          icon="item.icon"
          shown="item.shown"
          context="item.context"
          template-url="item.templateUrl"
          leave-open="item.leaveOpen"></li>
      </ul>
    </div>
  </div>
</div>